.ShopByCategories {
  h2 {
    color: #000000;
    font-size: 22px;
    text-align: center;
    margin: 0 0 20px 0;
    font-family: "Satoshi-Bold";
    font-size: 20px;
  }

  p {
    text-align: center;
    color: #000000;
    opacity: 0.6;
    font-family: "Satoshi-Medium";
    font-weight: normal;
    letter-spacing: -0.14px;
    font-size: 13px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;

    li {
      width: 12.66%;
      margin: 2%;

      a {
        display: block;
        text-align: center;
        text-decoration: none;
        color: #000;
        font-size: 13px;
        text-transform: capitalize;
        font-family: "Satoshi-Bold";

        h3 {}

        img {
          width: 100%;
          height: max-content;
        }
      }
    }
  }
}


.banner_carousel {
  img {
    width: 100%;
    height: max-content;
    border-radius: 30px;
  }
}

.banner_loader{
  display: flex;
  grid-gap: 20px;
  justify-content: center;
  div{
    flex-shrink: 0;
    height: 177px;
    width: 630px;
    border-radius: 30px;
    animation-duration: 2.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
    background: #ddd;
    background: linear-gradient(to right, #f6f6f6 8%, #f0f0f0 18%, #f6f6f6 33%);
    background-size: 1200px 100%;

    @keyframes shimmer{
      0%{
        background-position: -1200px 0;
      }
      100%{
        background-position: 1200px 0;
      }
    }
  }
}


.categories_loader{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 50px;
  justify-content: center;
  margin-top: 120px;
  padding: 0 30px;
  div{
    width: 177px;
    height: 177px;
    margin: 0 auto;
    animation-duration: 2.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
    background: #ddd;
    background: linear-gradient(to right, #f6f6f6 8%, #f0f0f0 18%, #f6f6f6 33%);
    background-size: 1200px 100%;
    @keyframes shimmer{
      0%{
        background-position: -1200px 0;
      }
      100%{
        background-position: 1200px 0;
      }
    }
  }
}

.TrendingDelights {
  ul {
    margin: 0 -0.75rem;
  }
}

.TrendingDelights {
  padding-top: 40px;
  background: url(../../images/Trends/blue-bg.png);
  background-repeat: repeat-x;
  background-size: contain;

  h3 {
    color: #fff;
    text-align: center;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    padding-top: 18px;
    font-size: 16px;
    font-family: "Poppins-Medium";
  }
}

.mustTry {
  h2 {
    font-size: 22px;
    font-family: 'Satoshi-Bold';
    text-transform: capitalize;
  }

  .mustSlider {
    .img_dev {}

    .title {
      color: #000;
      font-size: 13px;
    }

    .price {
      font-weight: 700;
      white-space: nowrap;
    }

    .add_btn {
      background: #E2E5FF;
      color: #1D2B95;
      padding: 0 10px;
      height: 33px;
      border-radius: 11px !important;
      font-size: 14px !important;
      border: 0;
      margin: 0;
    }
  }
}


.certificate_section {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;

  h3 {
    color: #000000;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin: 0 0 20px 0;
    font-family: "Satoshi-Bold";
  }

  ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    border: 1px solid #ececec;
    border-radius: 17px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 30px;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    overflow: hidden;

    li {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      margin: 0 1%;
      width: 22%;
      position: relative;
      justify-content: center;

      img {
        width: 34px;
      }

      span {
        padding: 10px 60px;
        display: block;
        font-size: 15px;
        color: #000000;
        font-family: "Satoshi-Bold";
      }

      &:after {
        content: "";
        width: 1px;
        height: 40px;
        background: #ececec;
        position: absolute;
        right: 0;
      }

      &:last-child {
        &::after {
          display: none;
        }
      }
    }
  }
}


.testimonial_slider {

  .card {
    // width: 32.3%;
    padding: 20px 30px;
    height: 264px;
    background: #fffef2;
    border: 1px solid #f8f8f8;
    margin: 0 0.5%;
    box-sizing: border-box;
    border-radius: 7px;

    .review_title {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      .cirle_first_name {
        background: #92d0f1;
        width: 32px;
        height: 32px;
        text-align: center;
        line-height: 32px;
        border-radius: 30px;
        margin-right: 10px;
      }

      .customer_title {
        margin: 0 10px;
        font-size: 12px;
        color: #595454;
        font-family: "Satoshi-Medium";
        text-transform: capitalize;
      }

      .verify {
        .bg-click {
          width: 14px;
          height: 14px;
          //   background: url("../images/green-click.svg");
          display: inline-block;
          background-repeat: no-repeat;
        }
      }
    }

    .review_star {
      margin: 20px 0px;

      span {
        font-size: 0;

        &::before {
          color: #ffe5ae;
          font-family: "luma-icons";
          font-size: 15px;
          content: "" "";
          content: "\e605";
        }

        &.active {
          &:before {
            color: #eba101;
          }
        }
      }
    }

    .customer_discriptions {
      -webkit-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 20px;

      p {
        font-size: 12px;
        color: #595454;
        font-family: "Satoshi-Bold";
      }
    }

    .customer_img_div {
      .customer_img {
        display: inline-block;

        img {
          width: 48px;
          height: auto;
        }
      }
    }

    .rating {
      text-align: center;
    }

    h3 {
      font-size: 14px;
      text-align: center;
      line-height: 20px;
      margin-bottom: 30px;
      margin-top: 30px;
      color: #000;
    }

    .customer_name {
      display: block;
      text-align: center;
    }
  }
}


.FoodVideo {
  position: relative;
  margin-top: 50px;

  h2 {
    color: #000000;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin: 0 0 20px 0;
    font-family: "Satoshi-Bold";
  }

  .vdo-cont {
    img {
      border-radius: 30px;
    }

    .overlay.btn-popup {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
    }
  }
}

.testimonial {
  margin-top: 50px;

  h2 {
    color: #000000;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin: 0 0 20px 0;
    font-family: "Satoshi-Bold";
  }
}

.GetUptoBanner {
  margin-top: 50px;

}

.JoinOurTeam {
  margin-top: 50px;
  margin-bottom: 50px;
  h2 {
    text-align: center;
    color: #303030;
    font-size: 20px;
    font-family: "Satoshi-Bold";
    margin-bottom: 15px;
  }

  p {
    text-align: center;
    color: #707070;
    font-size: 12px;
    line-height: 20px;
    font-family: "Satoshi-Medium";
  }

  .newsletter {
    border: 1px solid #1d2b95;
    box-sizing: border-box;
    border-radius: 21px;
    display: flex;
    min-height: 60px;
    display: flex !important;
    align-items: center;
    margin: 15px auto 0 auto;
    padding: 0;
    justify-content: space-around;
    width: 355px;
    padding: 5px;
    box-sizing: border-box;

    input {
      padding: 10px;
      border: 0;
      margin: 0;
      font-size: 12px;
      color: #303030;
      width: 80%;
    }

    button {
      width: 116px;
      background: #fff100;
      color: #000000;
      font-size: 14px !important;
      font-weight: 500;
      border-radius: 20px !important;
      border: 0 !important;
      font-family: "Satoshi-Bold";
      text-transform: initial;
      height: 52px;
      transition: all 0.5s ease 0s;
      -webkit-transition: all 0.5s ease 0s;
      -moz-transition: all 0.5s ease 0s;
      -o-transition: all 0.5s ease 0s;
    }
  }
}

#modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  height: 100%;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 200px;
  background: white;
  border-radius: 4px;
  left: calc(50% - 100px);
  width: 200px;
}


.menu {
  position: absolute;
  top: 94px;
  background: #fcfcfc;
  left: 0;
  right: 0;
  transition: 0.3s;
  z-index: 9999;
  // @media @for-phone {
  //   position: fixed;
  //   right: 0;
  //   width: 100%;
  //   left: 0 !important;
  //   top: inherit;
  //   bottom: 0;
  //   z-index: 999;
  //   height: 0;
  //   overflow: hidden;
  // }

  h2{
    font-size: 16px;
    font-family: "Satoshi-Bold";
    text-align: center;
    // @media @for-desktop-up{
    //   display: none;
    // }
  }
  &.active {
    display: block;
    top: 90px;
    opacity: 1;

    // @media @for-phone {
    //   // z-index: 99;
    //   // bottom: 0;
    //   // height: 100%;
    //   // bottom: 0;
    //   // top: 0;
    //   // position: fixed;
    //   // overflow-y: scroll;
    //   // height: auto;
    //   top: initial;

    //   height: 100%;
    //   overflow: hidden;
    // }

    .cutom_overlay {
      content: "";
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.5);
      // @media @for-phone {
      //   display: none;
      // }
    }
  }
  &.sticky {
    position: fixed;
  }
  ul {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    position: relative;
    z-index: 999;
    padding: 2% 8%;
    grid-gap: 30px;
    box-sizing: border-box;
    background: #fff;
    flex-wrap: wrap;

    // @media @for-phone {
    //   padding: 0 18px 80px 18px;
    //   justify-content: space-between;
    // }

    li {
      margin:1% 0.5%;
      text-align: center;
      width: 11%;
      // @media @for-phone {
      //   width: 25%;
      // }
      span {
        display: block;
      }
      a{
        display: flex;
        flex-direction: column;
      }
      h3 {
        margin: 0;
        color: #000000;
        font-size: 13px;
        font-family: "Satoshi-Bold";
        font-weight: normal;
        height: max-content;
        line-height: 24px;
      }
      &:hover {
        h3 {
          text-shadow: 0.2px 0.3px;
          text-decoration: none;
        }
      }
    }
  }
  &::after {
    // background-image: url(../images/white-wave.svg);
    background-position: bottom;
    content: "";
    width: 100%;
    height: 100px;
    display: block;
    position: absolute;
    bottom: -47px;
    z-index: 99;
    // @media @for-phone {
    //   display: none;
    // }
  }
}